name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  spm:
    name: SPM Build & Test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Test
        run: swift test

  tuist:
    name: Tuist Build & Test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Tuist
        run: |
          curl -Ls https://install.tuist.io | bash
          echo "$HOME/.tuist/bin" >> $GITHUB_PATH
      - name: Generate Project
        run: tuist generate
      - name: Test Framework
        run: xcodebuild test -scheme RBSReuseQueue -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' clean build test
      - name: Build Example App
        run: xcodebuild build -scheme RBSReuseQueueExample -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' clean build
